div.pull-right
  a.btn.btn-primary(ui-sref= states.create) Create

div.clearfix

//pre {{list}}

table.table.table-striped(st-table='rowCollection' id=name)
  thead
    tr
      each val in listable_fields
        th= val.label
      th Actions
  tbody
    tr(ng-repeat='row in list.list')
      each val in listable_fields
        td= '{{row.' + val.display.name + '}}'
      td
        a.entity-action.entity-update(ui-sref='^.update({' + id_param + ': row.id})', title='Edit')
          i.fa.fa-pencil-square-o.fa-lg
        a.entity-action.entity-remove(ng-click='remove(row)', confirm-if='true', confirm='¿Está seguro que desea eliminar?', title='Remove')
          i.fa.list.fa-trash-o.fa-lg
