div.control-container.form-group(ng-class="{'has-error': (" + control_path +".$touched || " + form_path +".$dirty) && " + control_path +".$invalid}"
  id=control.name + "-container"
  )&attributes(control.container)
  block label
    label.col-xs-4.control-label(for=control.name translate="")= control.label
  block content
    div.col-xs-8
      div.control-wapper
        block control

  if control.help
    div.clearfix
    div.col-xs-offset-4.col-xs-8.help-block(translate="")= control.help
  
  div.clearfix
  block errors
    div.col-xs-offset-4.col-xs-8.error-list
      include errors-list.jade
