div.control-container.form-group(ng-class="{'has-error': " + control_path +".$touched && " + control_path +".$invalid}"
  id=control.name + "-container"
  ng-scope="{control: controls." + control.name + "}"
  )&attributes(control.container)
  block label
    label.control-label(for=control.name translate="")= control.label
  block content
    div
      div.control-wapper
        block control

  if control.help
    div.clearfix
    div.help-block= control.help

  div.clearfix
  block errors
    div.error-list
      include errors-list.jade
