div.control-container.form-group.has-feedback(
  ng-class= "{" +
    "'has-error': (" + control_path +".$touched || " + form_path +".$dirty) && " + control_path +".$invalid," +
    "'has-success': " + control_path +".$valid" +
  "}"
  id= control.name + "-container"
  )&attributes(control.container)
  block label
    label.control-label(for=control.name translate="")= control.label
  block content
    div
      div.control-wapper
        block control
        //span.glyphicon.glyphicon-ok.form-control-feedback.ng-hide(ng-show= control_path + ".$valid")
        //span.glyphicon.glyphicon-remove.form-control-feedback.ng-hide(ng-show= control_path + ".$invalid")

  if control.help
    div.clearfix
    div.help-block(translate="")= control.help

  div.clearfix
  block errors
    div.error-list
      include errors-list.jade
