<div class="modal-header">
  <h3 class="modal-title" translate>Hay cambios sin guardar</h3>
</div>

<div class="modal-body">
  <div translate>El formulario actual contiene cambios sin guardar ¿Está seguro que quiere salir?</div>
</div>

<div class="modal-footer">
  <button class="btn btn-save" ng-click="ok()">
    <i class="fa fa-save"></i> <span translate>(No) Volver</span>
  </button>
  <button class="btn btn-cancel" ng-click="leave()">
    <i class="fa fa-save"></i> <span translate>(Sí) Descartar cambios</span>
  </button>
</div>
